{% extends "base.html.twig" %}

{% block body %}
    <div class="row bg-secondary text-white">
        <div class="col-8 offset-2 text-center my-3">
            <h1>Filter by pokemon type</h1>
            <div>
                {{ form_start(form, {'attr': {'id': 'form-filter-type'}}) }}
                {{ form_widget(form.id) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Team name</th>
                <th scope="col">Pokemon</th>
                <th scope="col">Total experience</th>
                <th scope="col">Types</th>
                <th scope="col">Edit team</th>
            </tr>
        </thead>
        <tbody>
            <tr class="base-row d-none">
                <td class="team-name"></td>
                <td class="pokemons text-center"></td>
                <td class="total-experience"></td>
                <td class="types"></td>
                <td class="edit-team"></td>
            </tr>
        </tbody>
    </table>
{% endblock %}
